.App {
  text-align: center;
}

.topnav{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.topnav > * {
  color: #61dafb;
}

.sidenav{
  display: flex;
  flex-direction: column;
  max-width: 100px ;
  margin-left: auto;
}

.searchnav{
  display: flex;
  flex-direction: column;
}

.loginForm{
  width: 20%;
  background-color: beige;
  margin: auto auto;
}

.loginForm > * {
  width: 20%;
}

.login{
  display: flex;
}

.home-display{
  display: flex;
}